<div id="header">
    <div class="container">
        <div class="con">
            <div class="left">
                <div class="logo">
                    <a href="/">
                        <img src="/cssimg/ico256.png" />
                    </a>
                </div>
            </div>
            <div class="center">
                <div class="navs">
                    <div class="item"><a class="/"><b>HOME</b></a></div>
                    <div class="item"><a class="/"><b>ROAD MAP</b></a></div>
                    <div class="item"><a class="/"><b></b></a></div>
                    <div class="item"><a class="/"><b>HOME</b></a></div>
                </div>
            </div>
            <div class="right">
                <div class="link">
                    <a target="_blank" href="https://twitter.com/HacashDAO"><i class="ic">&#xe6e5;</i></a>
                </div>
            </div>
        </div>
    </div>
</div>