<div id="side"><div class="cont">

    [: var sns = lang.manual.sidenavs; :]

    <div class="nvit tp">
        <div class="box">
            <a class="e" href="/"><i class="ic">&#xe736;</i>[:=sns[0][0]:]</a>
        </div>
    </div>
    <div class="nvit">
        <span class="y">[:=sns[1][0]:]</span>
        <div class="box">
            <a class="e" href="/learn#intro"><i class="ic">&#xe648;</i>[:=sns[1][1]:]</a>
            <a class="e" href="/learn#value"><i class="ic">&#xe695;</i>[:=sns[1][2]:]</a>
            <!-- <a class="e" href="/learn#detail"><i class="ic">&#xe622;</i>Detail</a> -->
        </div>
    </div>
    <div class="nvit">
        <span class="y">[:=sns[2][0]:]</span>
        <div class="box">
            <a class="e" href="/3coins#hac"><i class="ic">&#xe63a;</i>[:=sns[2][1]:]</a>
            <a class="e" href="/3coins#hacd"><i class="ic">&#xe7b6;</i>[:=sns[2][2]:]</a>
            <a class="e" href="/3coins#btc"><i class="ic">&#xe837;</i>[:=sns[2][3]:]</a>
        </div>
    </div>
    <div class="nvit">
        <span class="y">[:=sns[3][0]:]</span>
        <div class="box">
            <a class="e" href="/start#wallet"><i class="ic">&#xe63b;</i>[:=sns[3][1]:]</a>
            <a class="e hot" href="/start#trading"><i class="ic">&#xe664;</i>[:=sns[3][2]:] <i class="ic">&#xe62b;</i></a>
            <a class="e" href="/start#node"><i class="ic">&#xe8ef;</i>[:=sns[3][3]:]</a>
            <a class="e" href="/start#mining"><i class="ic">&#xe68e;</i>[:=sns[3][4]:]</a> 
        </div>
    </div>
    <!-- <div class="nvit">
        <span class="y">Trading</span>
        <div class="box">
            <a class="e"href="/trade#exchange"><i class="ic">&#xe664;</i>Exchange</a>
            <a class="e"href="/trade#otc"><i class="ic">&#xe831;</i>OTC</a>
            <a class="e"href="/trade#service"><i class="ic">&#xe65b;</i>Service</a>
        </div>
    </div> -->
    <div class="nvit">
        <span class="y">[:=sns[4][0]:]</span>
        <div class="box">
            <a class="e" href="/community#social"><i class="ic">&#xe631;</i>[:=sns[4][1]:]</a>
            <a class="e" href="/community#funding"><i class="ic">&#xe65c;</i>[:=sns[4][2]:]</a>
            <a class="e" href="/community#roadmap"><i class="ic">&#xe689;</i>[:=sns[4][3]:]</a>
            <a class="e" href="/community#mark"><i class="ic">&#xe601;</i>[:=sns[4][4]:]</a>
            <a class="e" href="/community#development"><i class="ic">&#xe606;</i>[:=sns[4][5]:]</a>
        </div>
    </div>
    <div class="nvit">
        <span class="y">[:=sns[5][0]:]</span>
        <div class="box">
            <a class="e" href="/resource#website"><i class="ic">&#xe75f;</i>[:=sns[5][1]:]</a>
            <a class="e" href="/resource#project"><i class="ic">&#xe645;</i>[:=sns[5][2]:]</a>
            <a class="e" href="/resource#tool"><i class="ic">&#xe7a4;</i>[:=sns[5][3]:]</a>
            <a class="e" href="/resource#article"><i class="ic">&#xe763;</i>[:=sns[5][4]:]</a>
            <a class="e" href="/resource#video"><i class="ic">&#xe600;</i>[:=sns[5][5]:]</a>
            <a class="e" href="/resource#document"><i class="ic">&#xe61a;</i>[:=sns[5][6]:]</a>
        </div>
    </div>


</div></div>


<div id="header">
    <div class="sdbr" id="sdbtn">
        <i class="ic i1">&#xe692;</i>
        <i class="ic i2">&#xe7f6;</i>
    </div>
    <div class="container">
        <div class="con">
            <div class="left">
                <div class="logo">
                    <a href="/">
                        <img src="/cssimg/ico256.png" />
                    </a>
                </div>
            </div>  
            <div class="center">
                <div class="navs">
                    <div class="item"><a class="gp f" href="/"><b>[:=lang.common.topnav[0]:]</b></a></div>
                    <!-- <div class="item"><a class="gp f" href="/#roadmap"><b>[:=lang.common.topnav[1]:]</b></a></div> -->


                    <div class="item"><div class="gp hl"><b>[:if(lang.useset=="en"){:]🇺🇸[:}else{:]🇨🇳[:}:] [:=lang.common.topnav[2]:]<i class="ic">&#xe613;</i></b>
                        <ul class="box">
                            <li><a class="it" href="?lang=en">🇺🇸English</a></li>
                            <li><a class="it" href="?lang=zh">🇨🇳中文简体</a></li>
                        </ul>
                    </div></div>

                    <!--
                    <div class="item"><div class="gp"><b>Quick Start<i class="ic">&#xe613;</i></b>
                        <ul class="box">
                            <li><a class="it" href="https://wallet.hacash.org" target="_blank">Create a Wallet</a></li>
                            <li><a class="it" href="https://hacash.org/miner?lang=[:=lang.useset:]" target="_blank">Mining</a></li>
                            <li><a class="it" href="https://explorer.hacash.org?lang=[:=lang.useset:]" target="_blank">Block Explorer</a></li>
                            <li><a class="it" href="https://hacash.money/" target="_blank">Sound Money</a></li>
                            <li><a class="it" href="/layers" target="_blank">Three Layers</a></li>
                        </ul>
                    </div></div>
                    <div class="item"><div class="gp"><b>Market<i class="ic">&#xe613;</i></b>
                        <ul class="box">
                            <li><a class="it" href="https://vindax.com/exchange-base.html?symbol=HAC_USDT" target="_blank">Vindax</a></li>
                            <li><a class="it" href="https://dex-trade.com/spot/trading/HACUSDT" target="_blank">Dex-trade</a></li>
                            <li><a class="it" href="ttps://xeggex.com/asset/HAC" target="_blank">Xeggex</a></li>
                            <li><a class="it" href="https://sea.hacash.diamonds/" target="_blank">HacashSea</a></li>
                        </ul>
                    </div></div>
                    <div class="item"><div class="gp"><b>Resource<i class="ic">&#xe613;</i></b>
                        <ul class="box">
                            <li><a class="it" href="https://github.com/hacash" target="_blank">Github</a></li>
                            <li><a class="it" href="https://github.com/hacash/paper/blob/master/HIP/HIP-table.md" target="_blank">HIP Table</a></li>
                            <li><a class="it" href="https://hacash.org/HAC-unit?lang=[:=lang.useset:]" target="_blank">HAC Units</a></li>
                            <li><a class="it" href="https://miningpoolstats.stream/hacash" target="_blank">MiningPoolStats</a></li>
                            <li><a class="it" href="https://hacashtalk.com" target="_blank">HacashTalk</a></li>
                            <li><a class="it" href="https://hacashnews.com" target="_blank">HacashNews</a></li>
                        </ul>
                    </div></div>
                    <div class="item"><div class="gp"><b>Social<i class="ic">&#xe613;</i></b>
                        <ul class="box">
                            <li><a class="it" target="_blank" href="https://discord.gg/evtt4bDfKu">Discord1</a></li>
                            <li><a class="it" target="_blank" href="https://discord.gg/tztZJnjmrT">Discord2</a></li>
                            <li><a class="it" target="_blank" href="https://t.me/HacashPool">Telegram1</a></li>
                            <li><a class="it" target="_blank" href="https://t.me/hacash">Telegram2</a></li>
                            <li><a class="it" target="_blank" href="https://t.me/hacashhacd">Telegram3</a></li>
                            <li><a class="it" target="_blank" href="https://x.com/HacashNews">Twitter1</a></li>
                            <li><a class="it" target="_blank" href="ttps://x.com/HacashDiamond">Twitter2</a></li>
                            <li><a class="it" target="_blank" href="ttps://x.com/HacashCom">Twitter3</a></li>
                        </ul>
                    </div></div>
                    -->
                </div>
            </div>
            <div class="right">
                <div class="link">
                    <a target="_blank" href="https://x.com/HacashDAO"><i class="ic">&#xe6e5;</i></a>
                </div>
            </div>
            <div class="mbtn" id="ufnvbx">
                <b class="ic">&#xe681;</b>
            </div>
        </div>
    </div>
</div>