<div id="side"><div class="cont">

    <a class="nvit">
        <span>Learn</span>
    </a>
    <a class="nvit">
        <span>Trade</span>
    </a>
    <a class="nvit">
        <span>Ecosystem</span>
    </a>
    <a class="nvit">
        <span>Resource</span>
    </a>
    <a class="nvit">
        <span>Social</span>
    </a>



</div></div>


<div id="header">
    <div class="sdbr" id="sdbtn">
        <i class="ic i1">&#xe692;</i>
        <i class="ic i2">&#xe7f6;</i>
    </div>
    <div class="container">
        <div class="con">
            <div class="left">
                <div class="logo">
                    <a href="/">
                        <img src="/cssimg/ico256.png" />
                    </a>
                </div>
            </div>
            <div class="center">
                <div class="navs">
                    <div class="item"><a class="gp f" href="/"><b>Home</b></a></div>
                    <div class="item"><a class="gp f" href="#roadmap"><b>Roadmap</b></a></div>
                    <div class="item"><div class="gp"><b>Quick Start<i class="ic">&#xe613;</i></b>
                        <ul class="box">
                            <li><a class="it" href="https://wallet.hacash.org" target="_blank">Create a Wallet</a></li>
                            <li><a class="it" href="https://hacash.org/get_started" target="_blank">Mining</a></li>
                            <li><a class="it" href="https://explorer.hacash.org/" target="_blank">Block Explorer</a></li>
                            <!-- <li><a class="it" href="https://hacash.money/" target="_blank">Sound Money</a></li>
                            <li><a class="it" href="/layers" target="_blank">Three Layers</a></li> -->
                        </ul>
                    </div></div>
                    <div class="item"><div class="gp"><b>Market<i class="ic">&#xe613;</i></b>
                        <ul class="box">
                            <li><a class="it" href="https://vindax.com/exchange-base.html?symbol=HAC_USDT" target="_blank">Vindax</a></li>
                            <li><a class="it" href="https://dex-trade.com/spot/trading/HACUSDT" target="_blank">Dex-trade</a></li>
                            <li><a class="it" href="ttps://xeggex.com/asset/HAC" target="_blank">Xeggex</a></li>
                            <li><a class="it" href="https://sea.hacash.diamonds/" target="_blank">HacashSea</a></li>
                        </ul>
                    </div></div>
                    <div class="item"><div class="gp"><b>Resource<i class="ic">&#xe613;</i></b>
                        <ul class="box">
                            <li><a class="it" href="https://github.com/hacash" target="_blank">Github</a></li>
                            <li><a class="it" href="https://github.com/hacash/paper/blob/master/HIP/HIP-table.md" target="_blank">HIP Table</a></li>
                            <li><a class="it" href="https://hacash.org/hac_unit" target="_blank">HAC Units</a></li>
                            <li><a class="it" href="https://miningpoolstats.stream/hacash" target="_blank">MiningPoolStats</a></li>
                            <li><a class="it" href="https://hacashtalk.com" target="_blank">HacashTalk</a></li>
                            <li><a class="it" href="https://hacashnews.com" target="_blank">HacashNews</a></li>
                        </ul>
                    </div></div>
                    <div class="item"><div class="gp"><b>Social<i class="ic">&#xe613;</i></b>
                        <ul class="box">
                            <li><a class="it" target="_blank" href="https://discord.gg/evtt4bDfKu">Discord1</a></li>
                            <li><a class="it" target="_blank" href="https://discord.gg/tztZJnjmrT">Discord2</a></li>
                            <li><a class="it" target="_blank" href="https://t.me/HacashPool">Telegram1</a></li>
                            <li><a class="it" target="_blank" href="https://t.me/hacash">Telegram2</a></li>
                            <li><a class="it" target="_blank" href="https://t.me/hacashhacd">Telegram3</a></li>
                            <li><a class="it" target="_blank" href="https://twitter.com/HacashNews">Twitter1</a></li>
                            <li><a class="it" target="_blank" href="ttps://twitter.com/HacashDiamond">Twitter2</a></li>
                            <li><a class="it" target="_blank" href="ttps://twitter.com/HacashCom">Twitter3</a></li>
                        </ul>
                    </div></div>
                    
                </div>
            </div>
            <div class="right">
                <div class="link">
                    <a target="_blank" href="https://twitter.com/HacashDAO"><i class="ic">&#xe6e5;</i></a>
                </div>
            </div>
            <div class="mbtn" id="ufnvbx">
                <b class="ic">&#xe681;</b>
            </div>
        </div>
    </div>
</div>