

<a name="layer1"></a>
<div class="psec">
    <div class="container">
        <div class="pttl"><h1 class="ht">Layer 1: Money</h1></div>
        <div class="sec">
            <div>
                <img class="cv" src="/image/layer/l1-1.jpg" />
            </div>
            <div class="info r">
                <p>The soundness of cryptocurrency can divide into monetary technology and monetary policy. Cryptocurrencies before Bitcoin focused only on solving technical problems. Bitcoin solved those problems. But it did not focus on issues related to monetary policy. </p>
                <p>Hacash stands on the technical foundation that Bitcoin has solved and inherits all Bitcoin's advantages. It focus on optimizing monetary policy issues.</p>
            </div>
        </div>

        <div class="sec">
            <div class="info">
                <h3>Elastic Coin Supply</h3>
                <p>HAC, BTC, and HACD are 3 PoW coins that are not pre-mined and have different money qualities. The three coins form the Hacash monetary system. It fulfills the function of cryptocurrency in large-scale payment and store value.</p>
                <p>HACD is the first ever PoW NFT that requires bidding HAC to earn the right to final broadcast. HAC would then be burned, and reduce inflationary pressure. Since the diffculty never drops, marginal costs of producing HACD will only be higher. Miners in free market would need to decide whether to bid or not.</p>
                <p>On the other hand, when the market is in recession or deflation, the mining of HACD can be ceased and  loan for HAC. In addition, one-way transfer of Bitcoins could also release massive new HAC linearly. Together form a sound money system that would self-adjust coin supply based on the free market.</p>
            </div>
            <div>
                <img class="cv" src="/image/layer/l1-2.jpg" />
            </div>
        </div>

        <div class="sec">
            <div class="info">
                <h3>Fairest Initial Distribution</h3>
                <p>There is no founder reward, no official holding, no node distribution, no pre-mining, no private placement, no foundation. Everything starts fair mining from scratch. It took 6 years to increase the reward per block from 1 to 8, and then it took 60 years to decrease to 1, and finally fixed at one currency per block. 22 million coins will be mined in the first 66 years, the total coins is unlimited.</p>
            </div>
            <div>
                <img class="cv" src="/image/layer/l1-3.png" />
            </div>
        </div>
    </div>
</div>


<a name="layer2"></a>
<div class="psec">
    <div class="container">
        <div class="pttl"><h1 class="ht">Layer 2: Payment</h1></div>
        <div class="sec">
            <div>
                <img class="cv" src="/image/layer/l2-1.jpg" />
            </div>
            <div class="info r">
                <p>The transaction structure signed by multiple parties, combined with rich standardized agreements such as condition checking, status confirmation, aggregate payment, transaction transactionalization, etc., meets most of the payment needs of modern finance, enterprises and individuals. Simple and intuitive without any potential loopholes.</p>
                <p>Multi-signature accounts solve the security problems of lost and stolen secret keys and the need for simple co-trust of funds. There is also an account system that can meet the multi-level equity investment structure of modern enterprises (supporting the difference between beneficial rights and voting rights, and avoiding extreme capital loss).</p>
            </div>
        </div>

        <div class="sec">
            <div class="info">
                <h3>Hacash V.S Bitcoin</h3>
                <p>Hacash's Layer 2 is atomic that means coins are 100% safe with you and there is no possibility that the channel would lose your coins in any conditions.</p>
                <p>Hacash encourgaes small service nodes, awards given to service nodes are approximately a projectile curve, meaning the scale of the node that receives the maximum awards could be relatively small. The advantages of small nodes, in the first place, are safety. The broader the settlement net, the safer the settlement layer. Small in size but more in number service nodes greatly reduce any risks from downtime.</p>
            </div>
            <div>
                <img class="cv" src="/image/layer/l2-2.jpg" />
            </div>
        </div>

    </div>
</div>


<a name="layer3"></a>
<div class="psec">
    <div class="container">
        <div class="pttl"><h1 class="ht">Layer 3: DAPP</h1></div>
        <div class="sec">
            <div>
                <img class="cv" src="/image/layer/l3-1.jpg" />
            </div>
            <div class="info r">
                <p>Based on the white paper by Hacash, which describes a main chain for currency creation, distribution and settlement (L1-currency layer) and a channel chain payment network for large-scale real-time settlement (L2-payment layer), this white paper proposes a programmable third layer of scalable multi-chain systems (L3-application layer).</p>
                <p>In essence, Hacash Layer 3 is similar to the cross-chain/multi-chain systems of Polkadot or Cosmos, but with a higher degree of technical adaptation and optionality, and without any token pre-allocation mechanism or official control over the protocol.</p>
                <p>In a long-term efficient economy where there is both a demand for services and a supply of products, L3 generates many profitable business opportunities while meeting the open financial needs of more users.</p>
                <p><a href="/layers#layer2" target="_blank"><button>Read Layer3 Whitepaper</button></a></p>
            </div>
        </div>

        <div class="sec">
            <div class="info">
                <h3>Functions & Characteristics</h3>
                <p>Here are the 7 dimensions of Hacash L3's functionality and features:</p>
                <p>1. Scaling<br/>
                    2. Expanding the asset types<br/>
                    3. Programmable<br/>
                    4. Cross-chain<br/>
                    5. Privacy<br/>
                    6. Customizable<br/>
                    7. Applications</p>
            </div>
            <div>
                <img class="cv" src="/image/layer/l3-2.jpg" />
            </div>
        </div>

    </div>
</div>

