<div id="screen">
    <div class="bgcv"></div>
    <div class="container">
        <div class="con">
            <div class="ttl">
                <h1 class="ht">Welcome to HacashDAO</h1>
                <p class="ht">Serves Hacash Ecosystem in Money Theory, Mining, Generative Art, Technical Development, Ecosystem Investment, Education and Marketing.</p>
            </div>
            <div class="btns">
                <a href="/"><button>Join Community -></button></a>
                <a href="/"><button>Hacash History</button></a>
            </div>
            
        </div>
    </div>
</div>