<div id="screen">
    <div class="bgcv"></div>
    <div class="container">
        <div class="con">
            <div class="ttl">
                <h1 class="ht">Welcome to <span>HacashDAO</span></h1>
                <p class="">Serves Hacash Ecosystem in Money Theory, Mining, Generative Art, Technical Development, Ecosystem Investment, Education and Marketing.</p>
            </div>
            <div class="btns">
                <a href="/"><button class="f">➣ Join Community</button></a>
                <a href="https://master.hacash.com/" target="_blank"><button>Learn Hacash</button></a>
            </div>
        </div>
    </div>
</div>

<div id="road" class="psec">
    <div class="container">
        <div class="pttl"><h1 class="ht">Market Roadmap</h1></div>
        <div class="cdwrap">
            <div class="card"><div class="box red"><div class="con">
                <div class="hd">
                    <h3 class="tt">General</h3>
                    <p class="per">1 / 6</p>
                </div>
                <div class="list">
                    <div class="item active">
                        <h5>List on CoinMarketCap</h5>
                    </div>
                </div>
            </div></div></div>
            <div class="card"><div class="box gold"><div class="con">
                <div class="hd">
                    <h3 class="tt">Exchange</h3>
                    <p class="per">2 / 6</p>
                </div>
                <div class="list">
                    <div class="item active">
                        <h5>List on Txbit</h5>
                    </div>
                </div>
            </div></div></div>
        </div>
        <div class="cdwrap">
            <div class="card"><div class="box green"><div class="con">
                <div class="hd">
                    <h3 class="tt">Media</h3>
                    <p class="per">2 / 6</p>
                </div>
                <div class="list">
                    <div class="item active">
                        <h5>"Top 4 Directions of Bitcoin Ecosystem Scalability | HackerNoon"</h5>
                    </div>
                </div>
            </div></div></div>
            <div class="card"><div class="box"><div class="con">
                <div class="hd">
                    <h3 class="tt">Development</h3>
                    <p class="per">2 / 6</p>
                </div>
                <div class="list">
                    <div class="item down">
                        <h5>GUI Wallet on MacOS</h5>
                    </div>
                    <div class="item active">
                        <h5>GPU Miner (CUDA)</h5>
                        <div class="act">
                            <p class="intro">Requires 7500U to develop CUDA adaptation programs</p>
                            <div class="progress"><u>7500U</u><b><i>10%</i></b></div>
                        </div>
                    </div>
                    <div class="item">
                        <h5>GUI Miner on Ubuntu</h5>
                    </div>
                </div>
            </div></div></div>
        </div>
    </div>
</div>








