<div id="screen">
    <div class="bgcv"></div>
    <div class="container">
        <div class="con">
            <div class="ttl">
                <h1 class="ht">Welcome to <span>HacashDAO</span></h1>
                <p class="">Serves Hacash Ecosystem in Money Theory, Mining, Generative Art, Technical Development, Ecosystem Investment, Education and Marketing.</p>
            </div>
            <div class="btns">
                <a href="/"><button class="f">➣ Join Community</button></a>
                <a href="https://master.hacash.com/" target="_blank"><button>Learn Hacash</button></a>
            </div>
            
        </div>
    </div>
</div>