[:
    var ind = lang.index;
:]


<div id="footer">
    <div class="container">
        <div class="box">
            <div class="left">
                <div class="logo">
                    <img src="/cssimg/ico256.png" />
                </div>
                <div class="cprt">
                    © 2023 HacashDAO<br>All rights reserved.
                </div>
            </div>
            <div class="link">
                <h4 class="tt">Start</h4>
                <div class="wrap">
                <ul>
                    <li><a target="_blank" href="/start#trading">[:=ind.qkbtns[0]:]</a></li>
                    <li><a target="_blank" href="/start#mining">[:=ind.qkbtns[1]:]</a></li>
                    <li><a target="_blank" href="/start#wallet">[:=ind.qkbtns[2]:]</a></li>
                    <li><a target="_blank" href="https://explorer.hacash.org">[:=ind.qkbtns[3]:]</a></li>
                </ul>
                </div>
            </div>
            <div class="link">
                <h4 class="tt">Resource</h4>
                <div class="wrap">
                <ul>
                    <li><a class="it" href="https://github.com/hacash" target="_blank">Github</a></li>
                    <li><a class="it" href="https://github.com/hacash/paper/blob/master/HIP/HIP-table.md" target="_blank">HIP Table</a></li>
                    <li><a class="it" href="https://hacash.org/hac_unit" target="_blank">HAC Units</a></li>
                </ul>
                </div>
            </div>
            <div class="link">
                <h4 class="tt">Links</h4>
                <div class="wrap">
                <ul>
                    <li><a href="https://hacash.org" target="_blank">Hacash.org</a></li>
                    <li><a href="https://hacash.com" target="_blank">Hacash.com</a></li>
                    <li><a href="https://hacash.money" target="_blank">Hacash.money</a></li>
                    <li><a href="https://hacd.art" target="_blank">HACD.art</a></li>
                    <li><a href="https://www.hacash.diamonds" target="_blank">Hacash.Diamonds</a></li>
                    <li><a href="https://hacashtalk.com" target="_blank">HacashTalk</a></li>
                    <li><a href="https://hacashnews.com" target="_blank">HacashNews</a></li>
                </ul>
                </div>
            </div>
            <div class="link">
                <h4 class="tt">Join us</h4>
                <div class="wrap">
                <ul>
                    <li><a class="it" target="_blank" href="https://discord.gg/evtt4bDfKu">Discord1</a></li>
                    <li><a class="it" target="_blank" href="https://discord.gg/6wH9KJeDFC">Discord2</a></li>
                    <li><a class="it" target="_blank" href="https://t.me/HacashPool">Telegram1</a></li>
                    <li><a class="it" target="_blank" href="https://t.me/hacash">Telegram2</a></li>
                    <li><a class="it" target="_blank" href="https://t.me/hacashhacd">Telegram3</a></li>
                    <li><a class="it" target="_blank" href="https://twitter.com/HacashNews">Twitter1</a></li>
                    <li><a class="it" target="_blank" href="ttps://twitter.com/HacashDiamond">Twitter2</a></li>
                    <li><a class="it" target="_blank" href="ttps://twitter.com/HacashCom">Twitter3</a></li>                </ul>
                </div>
            </div>
        </div>
    </div>
</div>